<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
		<welcome-file>/index.html</welcome-file>
	</welcome-file-list>
	<error-page>
		<!-- Forbidden directory listing -->
		<error-code>403</error-code>
		<location>/403.jsp</location>
	</error-page>
	<error-page>
		<!-- Missing resource -->
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>
	<error-page>
		<!-- Uncaught exception -->
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>
	<error-page>
		<!-- Unsupported servlet method -->
		<error-code>503</error-code>
		<location>/503.jsp</location>
	</error-page>

	<display-name>Lisfrigo</display-name>
	<servlet>
		<display-name>Cliente</display-name>
		<servlet-name>Cliente</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.cliente.controller.ClienteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Cliente</servlet-name>
		<url-pattern>/regiscliente</url-pattern>
	</servlet-mapping>

	<display-name>Lisfrigo</display-name>
	<servlet>
		<display-name>Funcionario</display-name>
		<servlet-name>Funcionario</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.funcionario.controller.FuncionarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Funcionario</servlet-name>
		<url-pattern>/regisfunc</url-pattern>
	</servlet-mapping>

	<display-name>Lisfrigo</display-name>
	<servlet>
		<display-name>Produto</display-name>
		<servlet-name>Produto</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.produto.controller.ProdutoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Produto</servlet-name>
		<url-pattern>/regisprod</url-pattern>
	</servlet-mapping>



	<display-name>Lisfrigo</display-name>
	<servlet>
		<display-name>Transportador</display-name>
		<servlet-name>Transportador</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.transportador.controller.TransportadorServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Transportador</servlet-name>
		<url-pattern>/trans</url-pattern>
	</servlet-mapping>


	<display-name>Lisfrigo</display-name>
	<servlet>
		<display-name>Proposta</display-name>
		<servlet-name>Proposta</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.proposta.controller.PropostaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Proposta</servlet-name>
		<url-pattern>/regisproposta</url-pattern>
	</servlet-mapping>
		<display-name>Lisfrigo</display-name>
		
	<servlet>
		<display-name>Proposta</display-name>
		<servlet-name>apagarproposta</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.proposta.controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>apagarproposta</servlet-name>
		<url-pattern>/delprop</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<display-name>Proposta</display-name>
		<servlet-name>consultarproposta</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.proposta.controller.ConsultarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>consultarproposta</servlet-name>
		<url-pattern>/conscpro</url-pattern>
	</servlet-mapping>
	


	<display-name>Lisfrigo</display-name>
	<servlet>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.login.controller.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>registerServlet</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.teste.Servlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registerServlet</servlet-name>
		<url-pattern>/mostrar</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>consultarcliente</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.cliente.controller.ConsultarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>consultarcliente</servlet-name>
		<url-pattern>/conscliente</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>consultarproduto</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.produto.controller.ConsultarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>consultarproduto</servlet-name>
		<url-pattern>/consprod</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>consultarfuncionario</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.funcionario.controller.ConsultarServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>consultarfuncionario</servlet-name>
		<url-pattern>/func</url-pattern>
	</servlet-mapping>
 
	<servlet>
		<servlet-name>registarentrega</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.entrega.controller.RegistarEntrega</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>registarentrega</servlet-name>
		<url-pattern>/regisentrega</url-pattern>
	</servlet-mapping> 

	<servlet>
		<servlet-name>consdept</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.departamento.controller.ConsultarDepartamento</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>consdept</servlet-name>
		<url-pattern>/consdept</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>delcli</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.cliente.controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delcli</servlet-name>
		<url-pattern>/delcli</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>delfunc</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.funcionario.controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delfunc</servlet-name>
		<url-pattern>/delfunc</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>delprod</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.produto.controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delprod</servlet-name>
		<url-pattern>/delprod</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>deltrans</servlet-name>
		<servlet-class>main.java.com.lisfrigo.hibernate.transportador.controller.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deltrans</servlet-name>
		<url-pattern>/deltrans</url-pattern>
	</servlet-mapping>
</web-app>